#unsubscribe .container {
  width: 600px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
  background: #fefefe;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 30px;
  box-shadow: 5px 10px 40px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#unsubscribe .inner-container {
  width: 100%;
}

#unsubscribe svg {
  max-width: 90%;
  position: relative;
  left: 5%;
  margin: 0 auto;
}

#unsubscribe .bottom {
  text-align: center;
  max-width: 70%;
  position: relative;
  margin: 0 auto;
}

#unsubscribe .bottom h2 {
  letter-spacing: 0.05em;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 0.25em;
}

#unsubscribe .bottom p {
  color: #777;
  letter-spacing: 0.1em;
  font-size: 16px;
  line-height: 1.4;
  margin: 0 auto 2em;
}

#unsubscribe .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1em;
}

#unsubscribe .buttons button {
  padding: 10px 30px;
  font-size: 20px;
  background-color: #d960ae;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-right: 20px;
  margin-bottom: 15px;
  transition: all 0.25s ease-in-out;
}

#unsubscribe .buttons button:hover {
  background-color: #cf3799;
}

#unsubscribe .buttons #cancel {
  margin-right: 0;
  color: #333;
  background-color: #eddfeb;
}

#unsubscribe .buttons #cancel:hover {
  background-color: #dbbed7;
}

#unsubscribe .buttons #go-back {
  display: none;
}

#unsubscribe .buttons button:focus {
  border: none;
  outline: 0;
}

@media (max-width: 699px) {
  #unsubscribe .container {
    width: 90%;
  }

  #unsubscribe .bottom {
    margin-top: 1em;
    max-width: 90%;
  }
}
@media (max-width: 399px) {
  #unsubscribe .container {
    padding: 20px;
  }

  #unsubscribe .bottom h2 {
    font-size: 24px;
  }

  #unsubscribe .buttons {
    flex-direction: column;
  }
  #unsubscribe .buttons button {
    margin-right: 0;
  }

  #unsubscribe svg {
    padding-top: 0;
  }
}
